

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; /* Updated font-family */
  text-decoration: none;
}

body {
  
  color: #333;
  background: #f2f2f2;
  background-attachment: fixed; 
  


}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0; 
  height: 100%;
  width: 250px; 
  background: #333; /* Dark Gray */
  color: #fff; 
  overflow-y: auto;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #333; /* Dark Gray */
  color: #fff; /* White text on dark background */
  overflow-y: auto;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

.Sidebar a {
  padding: 5px;
  display: block;
  color: #ffffff; /* Dark Gray */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.Sidebar a:hover {
  background-color: #666; /* Gray */
}
.logo {
  text-align: center;
  display: flex;
  align-items: center;
  
  margin: 20px 0;
}
.logo img {
  width: 80px;
  height: 80px;
margin-left: 70px;}


.logo span {
  font-weight: bold;
  margin-top: 0px;
  padding: 8px;
  
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}





.fas {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 40px; 
  top: 14px;
  margin-left: 16px;
  
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: -10px;
  margin-left: 70px;
  display: flex;
  
  flex-direction: column;
  flex-grow: 1; 
}

.nav-item:hover{
  transform: translateY(-8px);

}
.logo img {
  width: 70px;
  height: 70px;
}

.logo span {
  font-weight: bold;
  margin-top: 30px;
  padding: 8px;
  position: relative;
  left: -14px;
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}






.logout{
  width: 100%;
    position: absolute ;
    bottom: 0;
}

.title{
  background: #ffffff;
  color:  black;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border: 2px solid white;
     width: 60%;
   height: 6vh;

     margin: 10px 480px;
    font-size: 50px;
     text-align: center;
     
 }
 .position{
  top: 104px;
 
  display: grid;
  grid-template-columns: 40% 60%;
  font-weight: bold;
  margin-left: 28%;
  color: #000;
 width: 1000px;
background:#fff;
  
}
aside{
  border: 2px solid #fff;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
 
  
 }
 .notification {
  background-color: red; /* You can use your desired color */
  color: white;
  position: absolute;
  left: 58%;
  top: 56%;
  border-radius: 50%;
  padding: 0.1em 0.4em;
  margin-left: 0.5em;
  font-size: 0.8em;
}

 .position .compname {
   margin-top: 10px;
   font-weight: bold;
   text-align: center;
   font-size: 25px;
 
 }
.position.info{
    font-size: 100px;
}


table{
  background: #fff;
  color:  black;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
  top: 190px;
  left: 32%;
  width: 45%;
  
  text-align: center;
  border-collapse: separate;
  

}




th{
  color: #000;
  background-color: #fff;
position: sticky;
  top: 0px;

}

.table-w{
  position: relative;
  max-height: 250px;
  margin-left: 140px;

margin-top: 20px ;
display: flex;
justify-content: center;

}
.table-w::-webkit-scrollbar{
  display: none;
}

td,th{
  color: #000000;
  border: 2px solid rgb(226, 222, 222);
  padding: 10px;
}
   
h1  {
  text-align: center;
  font-size: 35px;
}

p{
  margin-left: 2px;
  font-weight: lighter;
  font-size: 20px;
}  

.search-form {
  text-align: center;
  margin: 20px;
  color: rgb(0, 0, 0);
  position: fixed; 
  left: 66%;
  top:10px

}

.search-form input[type="text"] {
  position: relative;
  padding: 8px;
  top: -10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 4px;
}

.search-form button {
 
 position: relative;
 top: -10px;
 margin: 1px 2px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #dad6d6;
}

.fass {


 margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
.overtime-input {
  margin-top: 20px;
}

label {
  display: block;
  color: black; /* Black text color */
  margin-bottom: 5px;
}

.next select {
  width: 20%;
  padding: 8px;
  position: relative;
   left: 40%;
  border: 1px solid black; /* Black border */
  border-radius: 4px;
  color: black; /* Black text color */
  background-color: #f5f5f5; /* Dirty white background color */
  box-sizing: border-box;
}
.container{
  background-color: #333;
  width: 30%;
  left: 35%;
  height: 200px;
  position: absolute;
}
 .btn-overtime{
  position: relative;

  left: 47.3%;
  margin: 10px 3px;
   width: 120px;
   height: 43px;
   font-size: 24px;
   border: none;
   background-color: #333;
   color: #fff;
   border-radius: 4px;
   cursor: pointer;
   text-align: center;
  
}

.btn-overtime:hover{
  background-color: #666;
}
.prev{
  position: relative;

  left: 40.3%;
  margin: 10px 3px;
   width: 120px;
   height: 43px;
   top: -53px;
   font-size: 24px;
   border: none;
   background-color: #333;
   color: #fff;
   border-radius: 4px;
   cursor: pointer;
   text-align: center;
}
.prev:hover{
  background-color: #666;
}

.btn .previous {
  padding:10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #333;
  border-radius: 5px;
 margin-left: 10px;
 color: #ffffff;
  position: absolute;
  top: 16%;
  left: 75%;
}

.btn .next {
  padding:10px;
  width: 76px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin: 5px 10px;
  background-color: #333;
  border-radius: 5px;
color: #ffffff;
  position: absolute;
  top: 10%;
  left: 75%;
}

.previous:hover{
  background-color: #666;
}

.form-container {
position: relative;
top: 30px;
left: 40px;

  text-align: center;
}

.monthSelect {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

button {
  padding: 7px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin: 1px 5px;
}

button:hover {
  background-color: #666;
}