

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; /* Updated font-family */
  text-decoration: none;
}

body {
  
  color: #333;
  background: #f2f2f2;
  background-attachment: fixed; 
  


}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0; 
  height: 100%;
  width: 250px; 
  background: #333; /* Dark Gray */
  color: #fff; 
  overflow-y: auto;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #333; /* Dark Gray */
  color: #fff; /* White text on dark background */
  overflow-y: auto;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

.Sidebar a {
  padding: 5px;
  display: block;
  color: #ffffff; /* Dark Gray */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.Sidebar a:hover {
  background-color: #666; /* Gray */
}
.logo {
  text-align: center;
  display: flex;
  align-items: center;
  
  margin: 20px 0;
}
.logo img {
  width: 80px;
  height: 80px;
margin-left: 70px;}


.logo span {
  font-weight: bold;
  margin-top: 0px;
  padding: 8px;
  
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}



a {
  position: relative;
  color: #fff; 
  font-size: 18px;
  display: block; 
  padding: 12px 20px; 
}

.fas {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 40px; 
  top: 14px;
  margin-left: 16px;
  
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: -10px;
  margin-left: 70px;
  display: flex;
  
  flex-direction: column;
  flex-grow: 1; 
}

.nav-item:hover{
  transform: translateY(-8px);

}
.logo img {
  width: 70px;
  height: 70px;
}

.logo span {
  font-weight: bold;
  margin-top: 30px;
  padding: 8px;
  
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}



a {
  position: relative;
  color: #fff; 
  font-size: 18px;
  display: block; 
  padding: 12px 20px; 
}


a {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 18px;
  display: table;

  padding: 12px;
}
.logout{
  width: 100%;
    position: absolute ;
    bottom: 0;
}

.title{
  background: #ffffff;
  color:  black;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border: 2px solid white;
     width: 60%;
   height: 6vh;

     margin: 10px 480px;
    font-size: 50px;
     text-align: center;
     
 }
 .position{
  top: 104px;
 
  display: grid;
  grid-template-columns: 40% 60%;
  font-weight: bold;
  margin-left: 28%;
  color: #000;
 width: 1000px;
background:#fff;
  
}
aside{
  border: 2px solid #fff;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
 
  
 }
 
 .position .compname {
   margin-top: 10px;
   font-weight: bold;
   text-align: center;
   font-size: 25px;
 
 }
.position.info{
    font-size: 100px;
}


table{
  background: #fff;
  color:  black;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
  top: 190px;
  left: 32%;
  width: 45%;
  
  text-align: center;
  border-collapse: separate;
  

}




th{
  color: #000;
  position: sticky;
  top: 0px;

}

.table-w{
  position: relative;
  max-height: 250px;
  margin-left: 140px;
  overflow-y: scroll;  
margin-top: 20px ;
display: flex;
justify-content: center;

}
.table-w::-webkit-scrollbar{
  display: none;
}

td,th{
  color: #000000;
  border: 2px solid rgb(226, 222, 222);
  padding: 10px;
}
   
h1  {
  text-align: center;
  font-size: 35px;
}

p{
  margin-left: 2px;
  font-weight: lighter;
  font-size: 20px;
}  

.search-form {
  text-align: center;
  margin: 20px;
  color: rgb(0, 0, 0);
  position: fixed; 
  left: 66%;
  top:10px

}

.search-form input[type="text"] {
  position: relative;
  padding: 8px;
  top: -10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 4px;
}

.search-form button {
 
 position: relative;
 top: -10px;
 margin: 1px 2px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #dad6d6;
}