
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; 
  text-decoration: none;
}

body {

  color: #333;
  background: #f2f2f2;
  background-attachment: fixed; 

height: 100vh;

}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #333; /* Dark Gray */
  color: #fff; /* White text on dark background */
  overflow-y: auto;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

.Sidebar a {
  padding: 5px;
  display: block;
  color: #ffffff; /* Dark Gray */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.Sidebar a:hover {
  background-color: #666; /* Gray */
}
.logo {
  text-align: center;
  display: flex;
  align-items: center;
  
  margin: 20px 0;
}
.logo img {
  width: 80px;
  height: 80px;
margin-left: 70px;}


.logo span {
  font-weight: bold;
  margin-top: 0px;
  padding: 8px;
  
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}





.fas {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 40px; 
  top: 14px;
  margin-left: 16px;
  
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: -10px;
  margin-left: 70px;
  display: flex;
  
  flex-direction: column;
  flex-grow: 1; 
}

.nav-item:hover{
  transform: translateY(-8px);

}
.logo img {
  width: 70px;
  height: 70px;
}

.logo span {
  font-weight: bold;
  margin-top: 30px;
  padding: 8px;
  position: relative;
  left: -14px;
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}




.logout{
  width: 100%;
    position: absolute ;
    bottom: 0;
}

.container {
  position: absolute;
  width: 90vh;
  height: 250px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
}
.container p{
  position: absolute;
  font-size: 20px;
  top:150px;
  text-align: center;
  margin-left: 90px;
  color: #000000;
}

 
  h1 {
  color: #020202;
  font-size: 30px;
  font-weight: bold;
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th,
  td {
    color: #0a0a0a;
    border: 1px solid rgb(138, 134, 134);
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  .content-active {
 
  position: relative;
  top:50px;
  background-color: #fff;
    max-width: 450px;
    margin: 0 auto;
    padding: 50px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.content-active .form-group {
    margin-bottom: 16px;
}

.content-active label {
    display: block;
    font-weight: bold;
}


.content-active input {
    width: 100%;
    padding: 8px;
    font-size: 16px;

    margin: 10px;

    border-radius: 5px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
}

.mainbtn{
  border: 1px solid black;
  height: 15vh;
}
.fas-button {
  position: relative;
  left: 5px;
 top: -80px;
  margin: 100px 100px ;
  height: 70px; 
  color: #000000;
  font-size: 20px;

} 

.mainbtn:hover{
 background-color: #e9e5e5;
}



.notification {
  background-color: red; 
  color: white;
  position: absolute;
  left: 58%;
  top: 56%;
  border-radius: 50%;
  padding: 0.1em 0.4em;
  margin-left: 0.5em;
  font-size: 0.8em;
}

.container-nextui {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.fas-attendance {
  position: relative;

 

  height: 25px;
  margin: 20px ;
 
 
} 
.container-nextui button{
 

  margin: 7px;
  height: 50px;

}
.mainbtn {


  margin: 7px;
  border-radius: 5px;
  cursor: pointer;
  
}


.container-nextui p{
font-size: 16px;
font-weight: bold;
position: relative;

top:-30px;

margin: 8px 7px;
}

.Payslip th{

  font-size: 12px;
  font-weight: bold;
  
}

.search-form {
  text-align: center;
  margin: 20px;
  color: rgb(0, 0, 0);
  position: fixed; 
  left: 55%;
  top:33px

}

.search-form input[type="text"] {
  position: relative;
  padding: 8px;
  top: -10px;
  width: 150%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 4px;
}

.search-form button {
 
 position: relative;
 top: -10px;
 margin: 1px 2px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #dad6d6;
}


.Selection-Container{
  position: absolute;
  left: 5%;
  top: 10%;
  width: 600px;
  margin: 1px 2px;

}
.next-prev .previous-btn{
  background: #333;
  padding: 8px;
  margin: 0 auto;
  border-radius: 5px;
  color: #fff;
  position: relative;
  left: -40%;
  top: 70px;
  
}
.next-prev .next-btn{
  background: #333;
  padding: 8px;
  margin: 0 auto;
  border-radius: 5px;
  width: 70px;
  color: #fff;
  position: relative;
  top: 70px;
  left: -38%;
 
}