@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; /* Updated font-family */
  text-decoration: none;
}

body {
  color: #333;
  background: #f2f2f2; /* Dirty White */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #333; /* Dark Gray */
  color: #fff; /* White text on dark background */
  overflow-y: auto;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

.Sidebar a {
  padding: 5px;
  display: block;
  color: #ffffff; /* Dark Gray */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.Sidebar a:hover {
  background-color: #666; /* Gray */
}
.logo {
  text-align: center;
  display: flex;
  align-items: center;
  
  margin: 20px 0;
}
.logo img {
  width: 80px;
  height: 80px;
margin-left: 70px;}


.logo span {
  font-weight: bold;
  margin-top: 0px;
  padding: 8px;
  position: relative;
  left: -14px;
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}





.fas {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 40px; 
  top: 14px;
  margin-left: 16px;
  
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: -10px;
  margin-left: 70px;
  display: flex;
  
  flex-direction: column;
  flex-grow: 1; 
}

.nav-item:hover{
  transform: translateY(-8px);

}
.logo img {
  width: 70px;
  height: 70px;
}

.logo span {
  font-weight: bold;
  margin-top: 30px;
  padding: 8px;
  
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}



.logout{
  width: 100%;
    position: absolute ;
    bottom: 0;
}
.outer {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: #fff;
  border: 1px solid #666; /* Gray */
  border-radius: 4px;
  box-shadow: 0 0 3px #666; /* Gray */
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.td-label{
  width: 150px;
}
th, td {
  border: 1px solid #666; /* Gray */
  padding: 10px;
  text-align: center;
  color: #333; /* Dark Gray */
}

th {
  background-color: #f2f2f2;
}

.table-container {
  position: relative;

  width: 120%;
}
.tables2 td{
width: 217px;
position: relative;
}
.tables2 th{
width: 129px;
background: none;
  position: relative;
  }

.date-input, input {
  width: 100%;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
}

input {
  height: 30px;
  text-align: center;
  
  border-bottom: 1px solid #666; /* Gray */
}
.shift{
  width: 117%;
}
  
.row {
  font-weight: 600;
}

input {
  position: relative;
  font-size: 16px;
  left: 20px;
  display: flex;
  background: transparent;
  border-bottom: 1px solid #333; /* Dark Gray */
  width: 90%;
  outline: none;
}


.notification {
  background-color: red; 
  color: white;
  position: absolute;
  left: 58%;
  top: 540px;
  border-radius: 50%;
  padding: 0.1em 0.4em;
  margin-left: 0.5em;
  font-size: 0.8em;
}

.button-container {
  display: flex;
  justify-content: space-between; 
  
}

.button-form-save button{
  width: 105px;
}
.button-form-save button,
.button-form-previous button {
  padding: 10px; 
  margin: 10px auto;
  background-color: #333; 
  color: #fff; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}

.button-form-save button:hover,
.button-form-previous button:hover {
  background-color: #666; 
}
.btn-form {
  margin-top: 10px; 
  position: relative;
  left: 560px;
}

.btn-form button {
  padding: 10px; 
  width: 100px;

  background-color: #333; 
  color: #fff; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}

.btn-form button:hover {
  background-color: #666;
}






  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

 
 