@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; /* Updated font-family */
  text-decoration: none;
}

body {
  color: #333;
  background: #f2f2f2; /* Dirty White */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #333; /* Dark Gray */
  color: #fff; /* White text on dark background */
  overflow-y: auto;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

.Sidebar a {
  padding: 7px;
  display: block;
  color: #ffffff; /* Dark Gray */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.Sidebar a:hover {
  background-color: #666; /* Gray */
}


.logo {
  text-align: center;
  display: flex;
  align-items: center;
  
  margin: 20px 0;
}
.logo img {
  width: 80px;
  height: 80px;
margin-left: 70px;}


.logo span {
  font-weight: bold;
  margin-top: 0px;
  padding: 8px;
  
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}



a {
  position: relative;
  color: #fff; 
  font-size: 18px;
  display: block; 
  padding: 12px 20px; 
}

.fas {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 40px; 
  top: 14px;
  margin-left: 16px;
  
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: -10px;
  margin-left: 70px;
  display: flex;
  
  flex-direction: column;
  flex-grow: 1; 
}

.nav-item:hover{
  transform: translateY(-8px);

}
.logo img {
  width: 70px;
  height: 70px;
}

.logo span {
  font-weight: bold;
  margin-top: 30px;
  padding: 8px;
  
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}



a {
  position: relative;
  color: #fff; 
  font-size: 18px;
  display: block; 
  padding: 12px 20px; 
}







.logout{
  width: 198.9px;
    position: absolute ;
    bottom: 0;
}





/* payslip.css */

.center-wrapper {
 
  
 
  left: 30%;
  top: 60px;

  position: absolute;
 }
 

 .coe-container {
   width: 1000px;
   height: 1500px;
  border: 1px solid black;
   background-color: #fff;  
   padding: 20px;
   margin-left: 60px;
 
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

   font-family: 'Times New Roman', Times, serif;
 }
 

 
 button .fas-request{
  position: relative;
height: 40px;
color: #333;
left: 480px ;
top: 10px;
}

button .fas-download{
  position: relative;
height: 40px;
color: #333;
left: 470px ;
top: 10px;
}
button p {
 font-size: 20px;
 font-weight: bold;
  position: relative;
  color:  #333;
  left: 470px ;
 
}
.colored-logo {
background: none;
position: absolute;
left: 80px;
top:20px;
}
.company-name{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-style: normal;
  height: 200px;
  font-family: 'Times New Roman';
  border-bottom: 2px solid black;
}
.company-name p {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  
 
  

}
 .company-name .fas-comp{
  height: 15px;
 
   
  position: relative;
 }
 .coe-paragraph h1{
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 60px;
  margin-top: 300px;

 
 }
 .coe-paragraph p {
  font-size: 20px;
  font-style: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 2px;
 }
 .coe-paragraph input{
  margin: 1px 2px;
 }
.Signature {
border: none;
  margin: 2px 5px;
  position: relative;
left: 70%;
width: 250px;
top:250px;

  
 }
 .Signature input{
  margin: 2px 5px;
  position: relative;
 }
