@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin sans', sans-serif;
  text-decoration: none;
}

body {
  font-family: 'Josefin Sans', sans-serif; 
  color: #333; 
  background: linear-gradient(to bottom, #2980b9    , #b5daf1);
  background-attachment: fixed; 
  
height: 100vh;

}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0; 
  height: 100%;
  width: 250px; 
  background: linear-gradient(to bottom, #2980b9, #b5daf1);
  color: #fff; 
  overflow-y: auto; 
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3); 

}


.Sidebar a {
  padding: 10px;
  display: block;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.Sidebar a:hover {
  background-color: #3498db; 
}

.logo {
  text-align: center;
  display: flex;
  align-items: center;
  
  margin: 20px 0;
}
.logo img {
  width: 80px;
  height: 80px;
margin-left: 70px;}


.logo span {
  font-weight: bold;
  margin-top: 0px;
  padding: 8px;
  
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}



a {
  position: relative;
  color: #fff; 
  font-size: 18px;
  display: block; 
  padding: 12px 20px; 
}

.fas {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 40px; 
  top: 14px;
  margin-left: 16px;
  
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: -10px;
  margin-left: 70px;
  display: flex;
  
  flex-direction: column;
  flex-grow: 1; 
}

.nav-item:hover{
  transform: translateY(-8px);

}
.logo img {
  width: 70px;
  height: 70px;
}

.logo span {
  font-weight: bold;
  margin-top: 30px;
  padding: 8px;
  
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}



a {
  position: relative;
  color: #fff; 
  font-size: 18px;
  display: block; 
  padding: 12px 20px; 
}




a {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 18px;
  display: table;

  padding: 12px;
}



.logout{
  width: 198.9px;
    position: absolute ;
    bottom: 0;
}




.outer{
    width: 1000px;
    height:597px;
    margin-left: 32%;
    margin-right: 55px;
    margin-bottom: 350px;
   background: rgb(206, 202, 202);
    border: 1px solid black;
    border-radius: 4PX;
    box-shadow: 0px 0px 3px black;
}
table {
    width: 100%;
   
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 30px;
    text-align: center;
    color: #000;
}

th {
    background-color: #747575;
}



/* Center the table */
.table-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-71%, -50%); /* Adjust the margin as needed */
    
}
.date-input {
    width: 100%;
    font-size: 15px;
}
input{
    background: transparent;
    height: 50%;
    width: 80%;
    border: none;
}

.requested{
    background-color: #93c9f5 ;
}

.current{
    background-color: #91f5c3 ;
}


.row{
    font-weight: 600;
}


.note {
    
    background-color: #b5daf1;
    border-radius: 8px;
    padding: 22px;
    max-width: 1000px;
    
}


.note textarea {
    width: 100%;
    font-size: 18px;
   
      
    border: none;
    resize: none; 
    outline: none; 
    background-color: transparent; 
}



p{
    font-weight: bold;
    font-size: 20px;
  margin-top: 2;
}
.hint{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #686969;
}


.file-form {
    text-align: center;
    margin: 20px;
    

}



.file-form button {
    padding: 8px 15px;
    font-size: 16px;
    width: 800px;
    height: 120px;
    margin-right: 50    ;
    border: none;
    background:#b5daf1;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}


.new-btn button{
  padding: 8px 15px;
    font-size: 16px;
    width: 255px;
 
   margin: 2px 120px;
    border: none;
    background-color: #ffffff;
    color: #050505;
    border-radius: 4px;
    cursor: pointer;
}
.new-btn .fass{
  width: 20px;
}

@media (max-width: 1680px) {
  .Sidebar {
    position: fixed;
    top: 0;
    left: 0; 
    height: 100%;
    width: 200px; 
    background: linear-gradient(to bottom, #2980b9, #b5daf1);
    color: #fff; 
    overflow-y: auto; 
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.3); 
  
  }
  


 .fas {
   position: relative;
   width: 30px;
   height: 30px;
   margin-top: 28px;
 
 }
 
 .Sidebar a:hover {
  background-color: #3498db; 
}

.table-container {
  position: absolute;
  top:59.9%;
  left: 50%;
  transform: translate(-71%, -50%); 
  
}

}


  