*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; /* Updated font-family */
  text-decoration: none;
  }
  
  
  
  body {
    color: #f2f2f2;
    background: #f2f2f2;
    background-attachment: fixed;
 
   
  
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  

   
  .LoginForm {
    width: 500px;
    padding: 30px;
    background-color: #333; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  
  }
    
    .LoginForm h1 {
      text-align: center;
      font-size: 36px;
    }
    .LoginForm p {
      text-align: center;
      padding: 5;
      margin: 30 ;
      font-size: 16px;
    }
    .LoginForm .form-group{
      position: relative;
      width: 100%;
      height: 50px;
      
      margin: 40px 0 ;
    }
    .form-group input{
      
      width: 100%;
      padding: 10px;
   
      border: none;
      background: #fff;
      border-radius: 5px;
      color: #000000;
    }
    .form-group input::placeholder{
      color: #b3b0b0;
    }
  
   
    .form-group .icon{
      position: absolute;
    right: 20px;
   
    top: 50%; 
    transform: translateY(-60%); 
    font-size: 24px;
    }
    
    
    .LoginForm [type="button"] {
      width: 100%;
      padding: 10px;
      border: none;
      background: #ffffff;
       border-radius: 5px;
       color: #000000;
       font-size: 20px;
       font-weight: bold;
        cursor: pointer;
       
    }
   .LoginForm .error{
      text-align: center;
      color: #ffffff;
      margin-top: 5;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
.form-group .forgotpass{
  font-size: 18px;
  position: relative;
  top: -80%;
  left:  30%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
/*respnsive*/
   
@media (max-width: 360px) {
  .LoginForm {
    width: 80%;
    height: 50%;
    font-size: 12px;
    max-width: none;
  }

  .LoginForm h1 {
    text-align: center;
    font-size: 12px;
  }
  .LoginForm p {
    text-align: center;
    padding: 5;
    margin: 30 ;
    font-size: 14px;
  }
  .LoginForm .form-group{
    position: relative;
    width: 100%;
    height: 20px;
    
  
  }
  .form-group input{
      
    width: 90%;
    padding: 8px;
 
    border: none;
    background: #fff;
    border-radius: 5px;
    color: #000000;
  }
   
   
  .form-group .icon{
    position: absolute;
    right: 20px;
  height: 20px;
  top: 80%; 
  transform: translateY(-60%); 
  font-size: 24px;
  }
  .LoginForm [type="button"] {
    width: 60%;
    padding: 6px;
    border: none;
    background: #ffffff;
     border-radius: 5px;
     color: #000000;
     font-size: 16px;
     font-weight: bold;
      cursor: pointer;
     
  }
  .form-group .forgotpass{
    font-size: 12px;
    position: relative;
    top: -80%;
    left:  30%;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }

}

@media (max-height: 740px) {
  body {
    align-items: flex-start;
  }
  .LoginForm {
    margin-top: 35%;
  }
}
 