@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin sans', sans-serif;
  text-decoration: none;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
background: url(bgtry.png) no-repeat center center;
height: 100vh;
  background-size: cover;
 font-weight: normal;
  transition: all 0.5s ease;
}

/* Sidebar styles */
body {
  color: #333;
  background: #f2f2f2; /* Dirty White */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #333; /* Dark Gray */
  color: #fff; /* White text on dark background */
  overflow-y: auto;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

.Sidebar a {
  padding: 5px;
  display: block;
  color: #ffffff; /* Dark Gray */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.Sidebar a:hover {
  background-color: #666; /* Gray */
}
.logo {
  text-align: center;
  display: flex;
  align-items: center;
  
  margin: 20px 0;
}
.logo img {
  width: 80px;
  height: 80px;
margin-left: 70px;}


.logo span {
  font-weight: bold;
  margin-top: 0px;
  padding: 8px;
  
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}



a {
  position: relative;
  color: #fff; 
  font-size: 18px;
  display: block; 
  padding: 12px 20px; 
}

.fas {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 40px; 
  top: 14px;
  margin-left: 16px;
  
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: -10px;
  margin-left: 70px;
  display: flex;
  
  flex-direction: column;
  flex-grow: 1; 
}

.nav-item:hover{
  transform: translateY(-8px);

}
.logo img {
  width: 70px;
  height: 70px;
}

.logo span {
  font-weight: bold;
  margin-top: 30px;
  padding: 8px;
  position: relative;
  left: -14px;
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}



a {
  position: relative;
  color: #fff; 
  font-size: 18px;
  display: block; 
  padding: 12px 20px; 
}


a {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 18px;
  display: table;

  padding: 12px;
}
.logout{
  width: 100%;
    position: absolute ;
    bottom: 0;
}

/*table */

.title{
    background-color: #bfbebb;
    color:  black;
   font-weight: bold;
    width: 60%;
    margin-left: 25%;
    font-size: large;
    text-align: center;
    padding: 15px;

    
    

    
}

.position{
   
    display: grid;
    grid-template-columns: 40% 60%;
    font-weight: bold;
    margin-left: 30%;
   color: #000;
   width: 1000px;
    border-style: solid;
    background-color: #caf0f8;
    
}





aside{
     border: 3px solid rgb(0, 0, 0);
    border-style: solid;
   
}

.position .compname {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;

}
.position.info{
    font-size: 100px;
   
}


table{
    
    border-spacing: 0px;
  
    width: 150vh; 
   
}
th{
    color: #000;
    position: sticky;
    top: 0px;
    background: #e7c1c1;  
}
.table-w{
    max-height: 250px;
    overflow-y: scroll;  
    margin:20px
}
.table-w::-webkit-scrollbar{
    display: none;
}
td,th{
    color: #000;
    border: 2px solid rgb(100, 100, 100);
    padding: 10px;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    
    margin-top: 20px;
    margin-right: 55px;
    background: #a5a4a4;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 0px 0px 3px black;
}
h1  {
    text-align: center;
    font-size: 35px;
}
p{
    
    font-weight: lighter;
    font-size: 20px;
    
}
/* payslip.css */

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
   width: 740px;
   left: 30%;
   top: 60px;
   position: absolute;
  }
  
 
  .payslip-container {
    width: 800px;
    height: 700px;
   
  
    padding: 20px;
    margin-left: 60px;
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  /* Add the rest of your CSS styles here */
  
  
  /* Header */
  .header {
    text-align: center;
    color: #333;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Information row */
  .info-row {
    margin-bottom: 10px;
  }
  
  /* Employee info */
  .employee-info {
    font-size: 16px;
    color: #555;
  }
  
  /* Earnings and Deduction row */
  .earning-row, .deduction-row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #000;
    margin-bottom: 8px;
  }
  
  /* Total */
  .total {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 30px;
    color: #000;
  }
  
  /* Additional styling for paragraphs and spans */
  p {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    padding: 2px 0;
  }
  
  .earnings, .deductions {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }
  

  
  
  
  .company-name {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
  }
  
  
  /* Styling for payslip sections (e.g., earnings, deductions) */
  .section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Styling for payslip details */
  .detail-label {
    font-size: 16px;
    font-weight: bold;
    color: #555;
  }
  
  .detail-value {
    font-size: 16px;
    color: #333;
  }
  
  /* Styling for the payslip total */
  .total {
    font-size: 18px;
    font-weight: bold;
    color: #555;
  }
  
  .total .value {
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }