


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; /* Updated font-family */
  text-decoration: none;
}


body {
  color: #333;
  background: #f2f2f2; /* Dirty White */
  background-attachment: fixed; 
  line-height: 1.6;
  font-size: 16px;
}


.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #333; /* Dark Gray */
  color: #fff; /* White text on dark background */
  overflow-y: auto;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

.Sidebar a {
  padding: 5px;
  display: block;
  color: #ffffff; /* Dark Gray */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.Sidebar a:hover {
  background-color: #666; /* Gray */
}
.logo {
  text-align: center;
  display: flex;
  align-items: center;
  
  margin: 20px 0;
}
.logo img {
  width: 80px;
  height: 80px;
margin-left: 70px;}


.logo span {
  font-weight: bold;
  margin-top: 0px;
  padding: 8px;
  
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}



a {
  position: relative;
  color: #fff; 
  font-size: 18px;
  display: block; 
  padding: 12px 20px; 
}

.fas {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 40px; 
  top: 14px;
  margin-left: 16px;
  
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: -10px;
  margin-left: 70px;
  display: flex;
  
  flex-direction: column;
  flex-grow: 1; 
}

.nav-item:hover{
  transform: translateY(-8px);

}
.logo img {
  width: 70px;
  height: 70px;
}

.logo span {
  font-weight: bold;
  margin-top: 30px;
  padding: 8px;
  
  color: #fff; 

  font-size: 18px;
  text-transform: uppercase;
}



a {
  position: relative;
  color: #fff; 
  font-size: 18px;
  display: block; 
  padding: 12px 20px; 
}


a {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 18px;
  display: table;

  padding: 12px;
}
.logout{
  width: 100%;
    position: absolute ;
    bottom: 0;
}



.title{
 background: #fff;
    color:  black;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
   font-weight: bold;
   border: 2px solid rgb(255, 255, 255);
    width: 60%;
    position: absolute;
    top: 10px;
    margin-left: 25%;
    font-size: large;
    text-align: center;
    padding: 15px;

    
    

    
}

.position{
  top: 104px;
   position: absolute;
  display: grid;
  grid-template-columns: 40% 60%;
  font-weight: bold;
  margin-left: 30%;
 color: #000;
 width: 1000px;
 box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
 
background: #fff;
  
}





aside{
 border: 2px solid #fff;
 box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
 
}

.position .compname {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 25px;

}



  table{
    position: absolute;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
    color: #000000;
   top: 180px;
   left: 32%;
    width: 45%;
    
    text-align: center;
    border-collapse: separate;
    
 background: transparent;
}
 

th{
  color: #000;
  position: sticky;
  top: 0px;

}

.table-w{
  max-height: 250px;
  overflow-y: scroll;  
  margin:20px
}
.table-w::-webkit-scrollbar{
  display: none;
}

td,th{
  color: #000;
  border: 2px solid rgb(226, 222, 222);
  background-color: whitesmoke;
  padding: 10px;
}


   
h1  {
  text-align: center;
  font-size: 35px;
}

p{
  margin-left: 2px;
  font-weight: lighter;
  font-size: 20px;
}  
.note {
    
  background: #fff;
     
    border:2px solid rgb(187, 184, 184);
  border-radius: 8px;
  padding: 22px;
  width: 500px;
  
}



/*sidebar reponsive*/
@media (max-width: 1680px) {
  .Sidebar {
    position: fixed;
    top: 0;
    left: 0; 
    height: 100%;
    width: 200px; 
    background: linear-gradient(to bottom, #2980b9, #b5daf1);
    color: #fff; 
    overflow-y: auto; 
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.3); 
  
  }
  


 .fas {
   position: relative;
   width: 30px;
   height: 30px;
   margin-top: 33px;
 
 }
 
 .Sidebar a:hover {
  background-color: #3498db; 
}

.position{
  top: 104px;
   position: absolute;
  display: grid;
  grid-template-columns: 40% 60%;
  font-weight: bold;
  margin-left: 28%;
 color: #000;
 width: 900px;
 
background: transparent;
  
}

}



