/* VerificationEmail.css */

.container {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 440px;
  text-align: center;
}

.label {
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
p{
  color: black;
  font-size: 18px;
  margin: 1px 5px;
}

input {
  width: 100%;
  padding: 8px;
  position: relative;
  top:10px;
  color: black;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  position: relative;
  left: -1px;
  border: none;
  top:11px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px;
}

.button:hover {
  background-color: #45a049;
}
.fas-verify{
  height: 50px;
  color: #78dd7d;
}
